:root {
  --color-purple: #672280;
  --color-white: #FFFFFF;
  --color-white-off: #FCFCFC;
  --color-black: #0D0D0D;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: var(--color-white);
}

/* header styling */
header {
  min-height: 65px;
  width: 100vw;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #2fbc4b 1.18%, #3d8f94 100%);
}

.title {
  display: flex;
  align-items: center;
  gap: .75rem;
}

.header--img {
  height: 100%;
}

.title h1 {
  font-family: 'Karla', sans-serif;
  font-size: 1.25rem;
  letter-spacing: -1px;
  color: var(--color-white);
}

header > h2 {
  font-family: 'Inter', sans-serif;
  font-size: 0.75rem;
  font-weight: normal;
  color: var(--color-white);
}

/* form styling */
main {
  padding: 2.25rem;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 1rem;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--btn {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90deg, #2fbc4b 1.18%, #3d8f94 100%);
  color: white;
  border: none;
  cursor: pointer;
}
